/* CSS Document */

@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #303030;
}

h2 {
	font-weight: 700;
	font-size: 37px;
	line-height: 1.3em;
	padding: 50px 0 30px;
}

p {
	padding: 5px 0;
}

a {
	text-decoration: none;
}

.ro {
	border: 2px solid red;
}

.menu_contenedor {
	width: 100%;
	height: 50px;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	text-align: right;
}

.menu_fijo {
	position: fixed;
}

.menu li {
	list-style-type: none;
	display: inline-block;
}

.menu a {
	font-size: 14px;
	display: block;
	padding: 0 16px;
	line-height: 50px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}

.menu_boton {
	display: none;
}


.container {
	width: 90%;
	max-width: 750px;
	margin: 0 auto;
	padding: 50px 0;
}

.container-big {
	max-width: 1200px;
	padding: 0px;
}

.container:after {
	content: "";
	display: table;
	clear: both;
}

.menu_contenedor .container-big {
	padding: 0;
}

.titulo {
	height: 400px;
	background: #000000 url(../img/ciudad.jpg) center top no-repeat;
	background-size: cover;
	text-align: left;
	position:relative;
}

.titulo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.10);
}

.titulo h2 {
	font-size: 36px;
	color: #ffffff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	padding: 130px 0 0px;
}

.titulo h3 {
	font-size: 26px;
	color: #ffffff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.panorama {
	width: 100%;
	height: 300px;
	background: #000000 url(../img/tecno.jpeg) center top no-repeat;
	background-size: cover;
}

.frase {
	height: 200px;
	background-color: #8996A0;
	width: 100%;
}

.redesandcopyright {
	height: 100px;
	background-color: #FFFFFF;
	width: 100%;
}

.grid-item {
	width: 25%;
	height: 300px;
	float: left;
	border: 2px solid #ffffff;
}

.grid-item-customers {
	width: 25%;
	height: 100px;
	float: left;
	border: 2px solid #ffffff;
}

.grid-col-8 {
	width: 65%;
	height: 100%;
	float: left;
}

.grid-col-4 {
	width: 35%;
	height: 100%;
	float: left;
	padding-left: 15px;
}

.grid-col-4 p {
	font-size: 14px;
	padding: 5px 5px 5px;
}

.texto-frase {
	width: 87%;
	height: 100%;
	float: left;
	border-left: 2px solid #FFF;
}

.texto-frase.parrafo {
	padding-left: 25px;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	color: #FFF;
	line-height: normal;
}

.icono-frase {
	width: 13%;
	height: 100%;
	float: left;
}

.contactanos input, .contactanos textarea {
	margin-top: 10px;
	height: 20px;
	width: 100%;
}

.contactanos textarea {
	padding: 7px 7px 7px 7px;
	height: 65px;
}

.centra-texto {
	text-align: center;
}

.img-top-first {
	margin-top: 90px;
	width: 250px;
}

.img-top-secund {
	width:250px;	
}

.main-container {
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	position:relative;
	background-color: #1B1B1B;
}

.contenido .fotof {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.contenido .cont-general {
	position: relative;
}

.contenido .cont-general .saludo {
	height: 100vh;
}

.btn-white{
	background-color: white;
}

.btn-login {
	background-color: #11b323;
}

.btn-login:hover {
	background-color: #5c9462;
}

.contenido .cont-general .saludo button {
	padding: 10px 25px;
	/*background-color: white;*/
	color: #000;
	cursor: pointer;
	border-radius: 4px;
	margin: 15px 0;
}

.contenido .cont-general .error-title {
	color: #ff2a40;
	font-size: 125px;
	line-height: 90px;
	font-weight: 700;
}

.sombra {
	background-color: rgba(0,0,0,.7);
}

.imgb {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.pa{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.main-container .contenido .texto {
	position: relative;
}

.ancho {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.f01, .f02 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.f02 {
	flex-flow: column wrap;
}

.cb {
	color: #ffffff;
}

.form-container {
	position: relative;
	width: 40%;
	height: auto;
	background-color: #3D3E3E;
	padding: 20px;
	box-shadow: .5px .5px 5px #141414;
	border-radius: 3px;
}

.form-container .a-login{
	display: block;
	text-align: center;
	margin: auto;
	font-size: 15px;
}

.form-container .opc-form {
	width: 100%;
	/*background-color: aqua;*/
}

.form-container .opc-form h3 {
	width: 50%;
	display: inline-block;
	text-align: right;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

.form-container .login-form label {
	color: #8996A0;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	display: block;
}

.form-container .login-form input {
	width: 100%;
	background-color: darkgrey;
	height: 40px;
	border-radius: 3px;
	color: white;
	padding: 0 10px;
	font-size: 18px;
	margin: 10px 0;
}

.form-container .file-input {
	width: 100%;
}

.form-container .file-input span{
	color: white;
}

.title {
	color: #fff;
	margin-bottom: 10px;
}

.title-black{
	color: #000;
}

.btn {
	width: 45%;

}
@media screen and (max-width:800px) {
	.grid-item {
		width: 50%;
	}

	.grid-item-customers {
		width: 50%;
	}

	.grid-col-8 {
		width: 100%;
		height: 100%;
		float: left;
	}

	.grid-col-4 {
		width: 100%;
		height: 100%;
		float: left;
	}
}

@media screen and (max-width:768px) {
	.menu_boton {
		display: block;
		padding: 0 20px;
		float: right;
	}

	.menu{
		height: auto;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.9);
		text-align: center;
	}

	#home-icon {
		float: left !important;
	}

	#salir-icon {
		float: right !important;
	}

	.menu li {
		display: inline-block;
		margin: 10px auto;
	}

	.menu .hide-item {
		display: none;
	}

	.grid-item {
		width: 50%;
	}

	.grid-item-customers {
		width: 50%;
	}

	.grid-col-8 {
		width: 100%;
		height: 100%;
		float: left;
	}

	.grid-col-4 {
		width: 100%;
		height: 100%;
		float: left;
	}
}

@media screen and (max-width:480px) {
	.menu_boton {
		display: block;
		padding: 0 20px;
		float: right;
	}

	.menu{
		height: auto;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.9);
		text-align: center;
	}

	.menu li {
		display: block;
		margin: 10px auto;
	}

	.grid-item {
		width: 100%;
	}

	.grid-item-customers {
		width: 100%;
	}

	.grid-col-8 {
		width: 100%;
		height: 100%;
		float: left;
	}

	.grid-col-4 {
		width: 100%;
		height: 100%;
		float: left;
	}

	.img-top-first {
		margin-top: 15px;
		width: 150px;
	}

	.img-top-secund {
		width: 150px;	
	}
}

.msg {
	text-align: center;
}

.success {
	color: forestgreen;
}

.error {
	color: #ff2a40;
}

.bgb{
	background-color: white;
}

.admin-container{
	justify-content: flex-start;
	top: 100px;
	position: relative;
	width: 85%;
	height: auto;
	background-color: rgba(208, 210, 203, 0.8);
	padding: 20px;
	/*box-shadow: .5px .5px 5px #141414;*/
	border-radius: 3px;
}

.fs {
	justify-content: flex-start;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ffffff;
}